.profile__profile-info {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin-left: 30px;
  align-items: baseline;
}

@media screen and (max-width: 690px) {
  .profile__profile-info {
    width: 90%;
    justify-content: center;
    margin: 30px auto 36px;
  }
}