.profile {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 690px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
}