@keyframes showOn {
  from {opacity: 0;
        visibility: hidden;}
  to {opacity: 1;
    visibility: visible;}
}

.modal_active {
  visibility: visible;
  animation: showOn .5s ease;
  opacity: 1;
}
