.login {
  margin-top: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 460px;
  max-width: 358px;
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
}

@media screen and (max-width: 480px) {
  .login {
    max-width: none;
    width: none;
    margin: 0 30px;
  }
}
