.confirm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 430px;
  min-height: 181px;
  background-color: white;
  z-index: 100;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  padding: 35px;
  margin: 0 45px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .confirm {
    min-height: 300px;
    padding: 16px 16px 40px 16px;
  }
}