
@keyframes showOff {
  from {opacity: 1;
        visibility: visible;}
        
  to {opacity: 0;
      visibility: hidden;}
    
}

.zoom_animation_close {
  visibility: hidden;
  opacity: 0;
  -moz-animation: showOff .5s ease;
  animation: showOff .5s ease; 
}