.page__autorization {
  margin-top: 60px;
  margin: 0 auto;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 460px;
  max-width: 358px;
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
}

.register__input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register__header {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  margin: 0 0 50px 0;
}

.register__input {
  width: 100%;
  border: 0;
  background-color: black;
  border-bottom: 2px solid #cccc;
  min-height: 27px;
  outline: none;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.register__input::placeholder {
  color: #ccc;
  font-size: 14px;
  line-height: 17px;
}
.register__submit-box {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.register__submit-btn {
  width: 100%;
  background: #fff;
  border-radius: 2px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  outline: none;
}

.register__submit-btn:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}
.register__text {
  margin-top: 15px;
}

.register__link {
  color: #fff;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
.register__link:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}
