.form__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  min-height: 27px;
  outline: none;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}



