.confirm__close-btn {
  background: url('../../../images/close-icon.svg') no-repeat;
  background-position: center;
  width: 41px;
  height: 41px;
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
  cursor: pointer;
  padding: 0;
  transition: 0.5s ease-in-out;
  outline: none;
}

.confirm__close-btn:hover {
  transition: 0.5s ease-in-out;
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .confirm__close-btn {
    top: -25px;
    right: -25px;
    width: 20px;
    height: 20px;
  }
}